.box {
    display: flex;
    flex-wrap: wrap;
}
.group {
    flex: 0 0 auto;
    font-family: 'PT Sans';
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: aliceblue;
}

.item {
    flex: 0 1 auto;
    margin-left: 15px;
    margin-right: 5px;
}

.coastername {
    flex: 1 0 auto;
}

.highlight {
    background-color: yellow;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nohighlight {
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.coaster {
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.water {

}
.timestamp {
    font-family: 'PT Sans';
    align-self: right;
    margin-top: 20px;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}


